html, body {
    height: 100%;
    margin: 0;
}

.container {
    background-color: #000;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.show_video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}